  <mat-card (click)="openCard(item)" *ngIf="item" class="fancy-card">
    <mat-card-header class="image-container">
        <img  [src]="item.crest" alt="{{ item.name }} Image">
    </mat-card-header>
    <mat-card-content>
        <div class="header-text-content">
            <mat-card-title class="header-text-value">{{ item.name  }}</mat-card-title>
            <mat-card-subtitle class="header-text-value">{{ item.tla }}</mat-card-subtitle>
        </div>
    </mat-card-content>
  </mat-card>
  